.input {
  display: block;
  padding: 16px 12px;
  width: 300px;
  border-radius: 4px;
  font-size: 16px;
}

.formRow {
  display: block;
  padding-bottom: 28px;
  width: 400px;
}

.error {
  border: crimson 2px solid;
}

.alert {
  position: absolute;
  color: crimson;
  font-weight: bold;
  font-size: 14px;
}
