.input {
  display: block;
  padding: 8px;
  width: 400px;
}

.formRow {
  display: block;
  padding-bottom: 28px;
  width: 400px;
}

.error {
  border: crimson 1px solid;
}

.alert {
  position: absolute;
  color: crimson;
  font-weight: bold;
  font-size: 12px;
}
